html {
  background-attachment: fixed;
  background: linear-gradient(160deg, #000000 0%, #2a0a40 45%, #0b1c3d 100%);
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  background: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  height: 60px;
  padding: 0 20px;

  background: transparent;
  color: rgb(255, 255, 255);

  transition: box-shadow 0.3s ease;
}

.top-bar:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 210px;
}

.img-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid white;
}

.title-text {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 100px;

  background: white;
  padding: 4px 12px;
  border-radius: 30px;
  border: 1px solid #ccc;
  height: 36px;
  width: 400px;
  flex-shrink: 0;
}

.search-container img {
  width: 20px;
  opacity: 0.9;
}

.search-bar {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  height: auto;
}

.search-bar::placeholder {
  color: #777;
}

.menu-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.top-bar_button_container {
  display: flex;
  align-items: center;
}

.types {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-bar_buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-bar_button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;

  transition: opacity 0.2s ease;
}

.top-bar_button:hover {
  opacity: 0.5;
}

.content {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.scrolable {
  height: 100px;
  overflow-y: auto;
  scrollbar-width: none;
}

.card {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  color: white;
  height: 32px;
  cursor: pointer;

  transition: box-shadow 0.3s ease;
}

.card img {
    width: 20px;
    height: 28px;
    margin-right: 10px;
    border-radius: 4px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#top-searched {
    width: 400px;
    height: 250px;
    pointer-events: none;
}

.star-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    /* pointer-events: none; */
    overflow: hidden;
}

.star {
    position: absolute;
    cursor: default;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    text-shadow: 0 0 6px rgba(255,255,255,0.8);

    animation: starFloat 3s linear forwards;
}

@keyframes starFloat {
    0% {
        transform: translateY(20px) scale(0.8);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-120px) scale(1);
        opacity: 0;
    }
}
