*{
    user-select: none;
    margin: 0px;
    border: 0px;
    padding: 0px;
    z-index: 1;
}

html{
  background: linear-gradient(160deg, #000000 0%, #2a0a40 45%, #0b1c3d 100%);
  overflow-x: hidden;
  overflow-y: hidden;
}

body{
  background: transparent;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /*we use this for depth of element*/
  padding: 0;
  width: 100%;
  height: 100%;
}
.LoginBody{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.TopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 60px;
    padding: 0 20px;

    background: transparent;
    color: aliceblue;

    transition: box-shadow 0.3s ease;
}
.LoginBox{
    border-radius: 5px;
}
.LoginContainer{
  background-color:  rgba(24, 22, 20, 0.585);
  height: 15rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  row-gap: 5px;
  font-size: larger;
  z-index: 2 ;
}
.LoginTextFieldsGrid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 5px;
}
.LoginButtonsBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    padding-top: 15px;
}
.LoginButton{
    padding: 2px;
    font-size: larger;
    border-radius: 5px;
}
.img-logo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid white;
}
.title-text {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header{
    display: flex;
    flex-direction: row;
}
.title-text{
    padding-top: 0.7rem;
}
.top-bar_button_container {
  display: flex;
  align-items: center;
}
.types {
  display: flex;
  align-items: center;
  gap: 12px;
}
.top-bar_button {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;

  transition: opacity 0.2s ease;
}
.top-bar_button:hover {
  opacity: 0.5;
}
.theme-icon{
    height: 50px;
    width: 50px;
}