<!DOCTYPE html>
<html>
    <head>
        <link href="loginpage.css" rel="stylesheet" />
        <title>BookSpace</title>
    </head>
    <body>
        <div class="TopBar">
            <div class="header">
                <img src="images/logo.jpg" class="img-logo" alt="logo"/>
                <p class="title-text">Book Space</p>
            </div>
        </div>
        
        <div class="LoginBody">  
            <div class = "LoginContainer">
                <h1>Login</h1>
                <div class="LoginTextFieldsGrid">
                    <label>Username</label>
                    <input type="text" >
                    <label>Password</label>
                    <input type="text">
                </div>
                <div class="LoginButtonsBox">
                    <button class="LoginButton">Register</button>
                    <button class="LoginButton">Login</button>
                </div>    
            </div>

        </div>

    </body>
</html>